# **Basic of print() function**

---

In [1]:
print('Hello Python! This is me trying to learn you!!')

Hello Python! This is me trying to learn you!!

**Exercise 1: Print your full Name and Department Name.**

In [2]:
print("Isteak")
print("Computer Science and Engineering")

Isteak
Computer Science and Engineering

## **New Line**

In [3]:
print('To,\nThe Faculty, CSC101,\nDeprtment of CSE, IUB.')

To,
The Faculty, CSC101,
Deprtment of CSE, IUB.

**Exercise 2: Print Student Name, Student ID, Student Email, Course ID, Section as follows by generating new line.**

---
**OUTPUT**
```
Student Name:
Student ID:
Student Email:
Course ID:
Section:
```

In [4]:
print("Student Name: Isteak\nStudent ID: 23XXXXX\nStudent Email: 23XXXXX@iub.edu.bt\nCourse ID: CSC101L\nSection: 04")

Student Name: Isteak
Student ID: 23XXXXX
Student Email: 23XXXXX@iub.edu.bt
Course ID: CSC101L
Section: 04

#**Multi-line printing (single, double and tripple quotation)**

---

In [5]:
#Single quation for single line text printing
print('This is Mahbubul Syeed. Currently working as an Associate Professor, Department of CSE, Indepenedent University, Bangladesh')

#Double quotation has the same purpose as of the single quotation
print("This is Mahbubul Syeed. Currently working as an Associate Professor, Department of CSE, Indepenedent University, Bangladesh")

This is Mahbubul Syeed. Currently working as an Associate Professor, Department of CSE, Indepenedent University, Bangladesh
This is Mahbubul Syeed. Currently working as an Associate Professor, Department of CSE, Indepenedent University, Bangladesh

In [6]:
#Tripple quotation are used for MULTI line printing
print('''This is Mahbubul Syeed.
Currently working as an Associate Professor,
Department of CSE,
Indepenedent University, Banglades''')

This is Mahbubul Syeed.
Currently working as an Associate Professor,
Department of CSE,
Indepenedent University, Banglades

**Exercise 3: Print the following multi-line using multi-line printing.**

Hard work pays off.

The harder you work, the more people will notice.

– Sydney Sweeney

In [8]:
print('''Hard work pays off.
The harder you work, the more people will notice.
- Sydney Sweeny''')

Hard work pays off.
The harder you work, the more people will notice.
- Sydney Sweeny

#**Commenting the code**

---

Comment are the messages to describe what your code does and is good for understanding your code. It is not part of the code.

In [9]:
#printing the name
print('My name is Mahbubul Syeed')
print('I am the faculty of this course') # defining the faculty responsibility

My name is Mahbubul Syeed
I am the faculty of this course

##**Multi-line Comments**

In [10]:
'''To,
The Faculty, CSC101,
Deprtment of CSE, IUB.'''
print("Hello World!")

Hello World!

**Exerecise 4:  Comment each line of the following code with appropriate message and multi-line comment for this code.**
**Hint: You can write anything you want!**

In [11]:
print('Course name: Introduction to Programming')   # printing the course name
print('Course code: CSC101')    # printing the course code
print('Semester: 1st')  # printing the current semester number
print('Year: 1st')  # printing the study year in university

Course name: Introduction to Programming
Course code: CSC101
Semester: 1st
Year: 1st

#**Variables**

---



Variables are nothing but reserved memory locations to store values.

In [12]:
name = 'Mahbubul Syeed'               #name is a variable that stores the text 'Mahbubul Syeed'
id = 1234                             #id is a variable that stores the number 1234
email = "mahbubul.syeed@gmail.com"    #email is a variable that stores 'mahbubul.syeed@gmail.com'

# NOTE! There is no quotation marks for the variables in print statement
# print each of the variable values
print(name)
print(id)
print(email)

Mahbubul Syeed
1234
mahbubul.syeed@gmail.com

In [13]:
name = 'Mahbubul Syeed'               #name is a variable that stores the text 'Mahbubul Syeed'
id = 1234                             #id is a variable that stores the number 1234
email = "mahbubul.syeed@gmail.com"    #email is a variable that stores 'mahbubul.syeed@gmail.com'

# NOTE! There is no quotation marks for the variables in print statement

# print multiple variables in single print statement
print(name, id, email)

print(name, ',', id,',', email)

print(name,'\n',id,'\n',email)

print('your name: ', name, '\nyour id: ', id,'\nyour email: ', email)

Mahbubul Syeed 1234 mahbubul.syeed@gmail.com
Mahbubul Syeed , 1234 , mahbubul.syeed@gmail.com
Mahbubul Syeed
 1234
 mahbubul.syeed@gmail.com
your name:  Mahbubul Syeed
your id:  1234
your email:  mahbubul.syeed@gmail.com

**Exercise 5: Use five variables to store Student Name, Student ID, Student Email, Course ID, Section and print them using multi-line printing.**

---
**OUTPUT**
```
Student Name:
Student ID:
Student Email:
Course ID:
Section:
```

In [14]:
student_name = "Isteak"
student_id = 0000000
student_email = "0000000@iub.edu. bd"
course_id = "CSC101L"
section = 4

print('''Studen Name: {}
Student ID: {}
Student Email: {}
Course ID: {}
Section: {}'''.format(student_name, student_id, student_email, course_id, section))

Studen Name: Isteak
Student ID: 0
Student Email: 0000000@iub.edu. bd
Course ID: CSC101L
Section: 4

**Another method:**

In [15]:
student_name = "Isteak"
student_id = 0000000
student_email = "0000000@iub.edu. bd"
course_id = "CSC101L"
section = 4

print(f'''Studen Name: {student_name}
Student ID: {student_id}
Student Email: {student_email}
Course ID: {course_id}
Section: {section}''')

Studen Name: Isteak
Student ID: 0
Student Email: 0000000@iub.edu. bd
Course ID: CSC101L
Section: 4

**Exercise 6: Use three variables to store Student ID, Course Name, CGPA. Print them using single print() statement by generating new line. The print will be exactly is follows:**


---
**OUTPUT**
```
Student ID:
Course Name:
CGPA:
```

In [19]:
student_id = 10101010
course_name = "CSC101"
cgpa = 4.00

print("Student ID: " + str(student_id) + "\nCourse Name: " + course_name + "\nCGPA: " + str(cgpa))

Student ID: 10101010
Course Name: CSC101
CGPA: 4.0

**Another Method**

In [16]:
student_id = 10101010
course_name = "CSC101"
cgpa = 4.00

print(f"Student ID: {student_id}\nCourse Name: {course_name}\nCGPA: {cgpa}")

Student ID: 10101010
Course Name: CSC101
CGPA: 4.0

**Another Method**

In [17]:
student_id = 10101010
course_name = "CSC101"
cgpa = 4.00

print("Student ID: {}\nCourse Name: {}\nCGPA: {}".format(student_id, course_name, cgpa))

Student ID: 10101010
Course Name: CSC101
CGPA: 4.0

## **Assigning value to multiple variables**

In [20]:
# Python allows you to assign a single value to several variables simultaneously
a = b = c = 1
print('a = ', a, 'b = ', b, 'c = ', c)

a =  1 b =  1 c =  1

In [21]:
# You can also assign multiple values to multiple variables
a, b, c = 1, 12.34, 'Jems Bond 420'

print('a = ', a)
print('b = ', b)
print('c = ', c)

a =  1
b =  12.34
c =  Jems Bond 420

**Exercise 7: Using a single assignment operator to assign the values 7, 8.91, 'Jonny Jonny Yes Pappa' and 'This is 2023 Autumn semester.' to 4 different variables. Print their values.**

In [22]:
a, b, c, d = 7, 8.91, 'Jonny Jonny Yes Pappa', 'This is 2023 Autumn semester'

print("a = ", a)
print("b = ", b)
print("c = ", c)
print("d = ", d)

a =  7
b =  8.91
c =  Jonny Jonny Yes Pappa
d =  This is 2023 Autumn semester

#**Formatting printing using print() function**

---

**Formatting Option: 1**

In [25]:
name = 'Mustafa'
id = 420.2555555
print("Welcome %s with id %.2f to the class" %(name,id))

Welcome Mustafa with id 420.26 to the class

**Formatting Option: 2**

In [24]:
name = 'Mustafa'
id = 420
print("Welcome {} with id {} to the class".format(name,id))

Welcome Mustafa with id 420 to the class

**Formatting Option: 3**

In [26]:
name = 'Mustafa'
id = 420
print(f"Welcome {name} with id {id} to the class")

Welcome Mustafa with id 420 to the class

**Exercise 8: Print the following using Formatting option 1**

In [40]:
name = 'James Bond'
# id = 007  # shows Syntax error, leading zeros in decimal integer literals are not permitted
id = int("007") # did this to fix that SyntaxError, 
email = '007@com'

# print the following message using Formatting option 1: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!
print("Hello, %s. Your id is: %d and email is %s. Welcome to the club!" %(name, id, email))

Hello, James Bond. Your id is: 7 and email is 007@com. Welcome to the club!

**Exercise 9: Print the following using Formatting option 2**

In [41]:
name = 'James Bond'
# id = 007
id = int("007")
email = '007@com'

# print the following message using Formatting option 2: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!
print("Hello, {}. Your id is: {} and email is {}. Welcome to the club!".format(name, id, email))

Hello, James Bond. Your id is: 7 and email is 007@com. Welcome to the club!

**Exercise 10: Print the following using Formatting option 3**

In [42]:
name = 'James Bond'
# id = 007
id = int("007")
email = '007@com'

# print the following message using Formatting option 3: Hello, Jems Bond. Your id is: 420 and email is 420@com. Welcome to the club!
print("Hello, {name}. Your id is: {id} and email is {email}. Welcome to the club!")

Hello, {name}. Your id is: {id} and email is {email}. Welcome to the club!

#**Types of Variables**

---

Python has five standard data types-


1.   Numbers: Integer, Float, Complex
2.   String
3. List
4.  Tuple
5. Set
6. Dictionary

In [43]:
# Numbers
x = 1234   # integer
y = 12.45  # float
z = 3+6j  # complex

# Sring : written within quotation marks

a = 'This is a string'
b = '1234'
c = 'I have a case with no: 123456'

print(x)
print(y)
print(z)

print(a)
print(b)
print(c)

1234
12.45
(3+6j)
This is a string
1234
I have a case with no: 123456

**Exercise 11: Declare one integer, one string and one float variable, and then print their values.**

In [44]:
a = 17
b = 'Hello, world!'
c = 3.98

print(a)
print(b)
print(c)

17
Hello, world!
3.98

## **Checking the type of the variable in program**

In [45]:
# Numbers
x = 1234   # integer
y = 12.45  # float
z = 3+6j  # complex

# Sring : written within quotation marks

a = 'This is a string'
b = '1234'
c = 'I have a case with no: 123456'

#printing using two ways
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print()

print('x = ', x, 'type of x is: ', type(x))
print('y = ', y, 'type of y is: ', type(y))
print('b = ', b, 'type of b is: ', type(b))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

x =  1234 type of x is:  <class 'int'>
y =  12.45 type of y is:  <class 'float'>
b =  1234 type of b is:  <class 'str'>

**Exercise 12: Declare four variables of four different types. Print their values and data types.**

In [47]:
a = 4
b = 3.89
c = 6+1j
d = "Python"

print(f"x = {a}, type of x is: {type(a)}")
print(f"x = {b}, type of x is: {type(b)}")
print(f"x = {c}, type of x is: {type(c)}")
print(f"x = {d}, type of x is: {type(d)}")

x = 4, type of x is: <class 'int'>
x = 3.89, type of x is: <class 'float'>
x = (6+1j), type of x is: <class 'complex'>
x = Python, type of x is: <class 'str'>

##**Converting the data type in program**

In [51]:
# Numbers
x = 1234   # integer
y = 12.45  # float
z = 'IUB'


# check the type of x,y,z
print(f'{x} type is: {type(x)}\n{y} type is: {type(y)}\n{z} type is: {type(z)}')
print('\n')

# convert both the variables into integer and float as it is their data type using int() and float() function
x = int(x)
y = float(y)

# check the type of x,y,z
print(f'Type of {x} is: {type(x)}\nType of {x} is: {type(y)}\nType of {x} is:  {type(z)}')

1234 type is: <class 'int'>
12.45 type is: <class 'float'>
IUB type is: <class 'str'>


Type of 1234 is: <class 'int'>
Type of 1234 is: <class 'float'>
Type of 1234 is:  <class 'str'>

**Exercise 13: For the following variables check and print their data types. Change the datatype for the variable containing numerical values. Afterwards, check the datatype again.**

In [53]:
name = 'My name is Khan'
CGPA = 3.768
age = 34
w = -.7+7j

# Print the datatype for name
print(type(name))

# Print the datatype for CGPA
print(type(CGPA))

# Print the datatype for age
print(type(age))

# Print the datatype for w
print(type(w))

#change the
CGPA = int(CGPA)
age = float(age)

print(type(CGPA))
print(type(age))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'int'>
<class 'float'>

# **User Input**

---

*   *input('Prompt')* function is used to take input from the user.
*   User input is always stored in a variable.

In [54]:
name = input('Enter your name: ') # input() function displaying prompt 'Enter your name:' and wait for a user input
                                  # While user enters the value and press enter, the value is stored in the 'name' variable
print(name)                       # print the variable value

Isteak

In [55]:
number1 = input("Enter number 1:")
number2 = input("Enter number2")

iub = int(number1) - int(number2)

print(f'{number1} + {number2} = {iub}')

2 + 3 = -1

**Did you Notice any issues with the above program!!**

In python all inputs are taken as **string** type.

You need to convert them to other data types explicitly.

In [56]:
num1 = input('Enter Number 1: ')
num2 = input('Enter Number 2: ')

# check the type of num1 and num2
print(f'{num1} type is: {type(num1)}\n{num2} type is: {type(num2)}')

# convert both the variables into integer using int() function
num1 = int(num1)
num2 = int(num2)

# check the type of num1 and num2
print(f'{num1} type is: {type(num1)}\n{num2} type is: {type(num2)}')

# add the two numbers and print the result
add = num1 + num2

print(f'{num1} + {num2} = {add}')

3 type is: <class 'str'>
2 type is: <class 'str'>
3 type is: <class 'int'>
2 type is: <class 'int'>
3 + 2 = 5

**Automatic Type conversion**
Data types are auto converted to the upper types while doing artihmetic operations.

In [ ]:
a = 23.4   # type of a is float
b = 16     # type of b is int

c = a + b  # adding one float and one int number. so what will be the type of c? float or int?

print(f'{a} type is: {type(a)}')
print(f'{b} type is: {type(b)}')
print(f'{c} type is: {type(c)}')

a = 'I am Bond' # type of a is string
b = 420         # type of b is int

#QUESTION
c = a + b       # what will be the type of c??

"""
Answer: C has no type. It will show error. We can concatenate string to string. To fix this, we have to
        typecast the 'b' variable to string using str(). After typecasting, c's type will be string.
 """

**Exercise: 14**


1.   Prompt user to enter their email address and phone number as input.
2.   Take the inputs in two variables name 'user_email' and 'user_phone'
3.   Print the two variable using two print functions.

In [58]:
user_email = input("Email: ")
user_phone = input("Phone number: ")

print(f"Email: {user_email}")
print(f"Phone number: {user_phone}")

Email: f;lkjfjfj@iub.edu.bd
Phone number: 0121000000

**Exercise: 15**


1.   Take two numbers as input from the user and store them in two variables, a and b.
2.   Add the two numbers and store the result in another varibale c (i.e., c = a + b)
3.   Print the result formatteed as follows: a + b = c

In [60]:
a = input("a: ")
b = input("b: ")

c = int(a) + int(b)
print(f"{a} + {b} = {c}")

3 + 6 = 9

# **Lesson Exercise**

---

**Exercise: 16**
Get the following information from user and Print out your full name, your semester, your ID number, your hobby and your favorite movie name. All of the information should be in separate lines and should appear formatted like below:

Full name: ……………

ID: …………..

Semester: …………

Hobby: …………..

Favorite movie: …………..

OUTPUT
Your name is ……………

Your ID is ………

Your semester is …………

Your hobby is …………

Your favorite movie is …………..

In [61]:
full_name = input("Full Name: ")
id = input("ID: ")
semester = input("Semester: ")
hobby = input("Hobby: ")
fav_movie = input("Favorite Movie: ")

print(f"Your name is {full_name}\nYour ID is {id}\nYour semester is {semester}\nYour hobby is {hobby}\nYour favorite movie is {fav_movie}")

Your name is Isteak
Your ID is 34235235235235235235
Your semester is 1st
Your hobby is Donno
Your favorite movie is kfja;afjglajja

**Exercise: 17**
Take input from user their name, address, email and phone number. Then print the information on the screen. Following is the sample input and output:

Name: Mahbubul Syeed

Address: Dohs, Mirpur

Email: xyz@gmail.com

Phone: 12345678

Your information is as follows:

Hello Mahbubul Syeed! Your address is: Dohs, Mirpur. You will receive a confirmation email at: xyz@gmail.com and a message to your registered mobile number (12345678).

In [62]:
name = input("Name: ")
address = input("Address: ")
email = input("Email: ")
phone = input("Phone: ")

print(f"Hello {name}! Your address is: {address}. You will receive a confirmation email at: {email} and a message to your registered mobile number ({phone}).")

Hello Isteak! Your address is: kajfkldj;alf;a. You will receive a confirmation email at: aflklkajgkjk@iub.edu.bd and a message to your registered mobile number (4558475554878).

**Exercise: 18** Make a simple calculator for two numbers. Take two numbers as input from the user and print the result of simple arithmetic between them.
Following is the simple input and output.

Enter Two numbers..

Enter number 1: 35

Enter number 2: 45

Addition (35 + 45) = 80

Subtraction (35 - 45) = -10

Division (35 / 45) = .777

Multiplication (35 * 45) = 1575

In [64]:
number1 = int(input("Number 1: "))
number2 = int(input("Number 2: "))

addition = number1 + number2
substraction = number1 - number2
division = number1 / number2
multiplication = number1 * number2

print(f"Addition ({number1} + {number2}) = {addition}")
print(f"Substraction ({number1} - {number2}) = {substraction}")
print(f"Division ({number1} / {number2}) = {division}")
print(f"Multiplication ({number1} * {number2}) = {multiplication}")

Addition (5 + 4) = 9
Substraction (5 - 4) = 1
Division (5 / 4) = 1.25
Multiplication (5 * 4) = 20